
.page-container.inventory-page{
     width: 100%; display: flex; margin: 0;
    color: var(--dark);
}
.main-content{width: 100%;}
.inventory-header {
    margin-bottom: 20px;
}

.material-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(24vmin, 1fr));
    
}

.material-card { aspect-ratio: 4/5; 
     justify-content: space-between;
    display: flex; height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.material-card-body {flex: 1;}
.material-image{width: 100%;}
.material-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.material-name {
    font-size: 14px;
    margin-bottom: 10px;
}

.quantity-input {
    width: 100%; display: flex;
    
    
    
    color: #fff;
    text-align: center;
}
