.filter-panel{max-width: 80%;}
@media only screen and (orientation: landscape) {
  
  .filter-panel{max-width: 50%;}
}
.filter-panel-header { width: 100%; 
    justify-content: space-between;
    align-items: start; 
}
.filter-panel-header h2{ margin: 0;}

.close-button {
    background-color: var(--light); 
    border: none; 
    padding: 2vmin; 
     display:flex;
     }
.close-button svg{ width: 4vmin; height: 4vmin;}
.filter-group{overflow-y: auto;}
.filter-group h3{ width: 100%;}
.filter-options{width: 100%; flex-wrap: wrap;}

.filter-section {scroll-behavior: auto;}


.filter-panel-footer button{width: 100%;}

.apply{border: none; background-color: var(--lime);}
.reset{background: none;}

.reset:focus,
.reset:hover {border: 1px solid var(--cherry); color: var(--cherry);transition: all 0.2s ease-in-out;}