/*  ============================================================
    SECTION : ICON SIZE
    СЕКЦИЯ  : РАЗМЕР ИКОНОК
    ============================================================ */

:root {
    --icon-sm: 1.1250rem; /* 18px */
    --icon-md: 1.5000rem; /* 24px */
    --icon-lg: 2.2500rem; /* 36px */
    --icon-xl: 3rem; /* 48px */
}

@media (min-width: 48em) {
    :root {
        --icon-sm: clamp(1.2500rem, calc(1.1964rem + 0.1116vw), 1.3750rem); /* 20px -> 22px, +10% */
        --icon-md: clamp(1.7500rem, calc(1.6429rem + 0.2232vw), 2rem); /* 28px -> 32px, +14% */
        --icon-lg: clamp(2.6250rem, calc(2.4107rem + 0.4464vw), 3.1250rem); /* 42px -> 50px, +19% */
        --icon-xl: clamp(3.5000rem, calc(3.1786rem + 0.6696vw), 4.2500rem); /* 56px -> 68px, +21% */
    }
}

@media (min-width: 1025px) {
    :root {
        --icon-sm: clamp(1.3500rem, calc(1.2921rem + 0.1205vw), 1.4850rem); /* +8% */
        --icon-md: clamp(1.9600rem, calc(1.8400rem + 0.2500vw), 2.2400rem); /* +12% */
        --icon-lg: clamp(3.0450rem, calc(2.7964rem + 0.5178vw), 3.6250rem); /* +16% */
        --icon-xl: clamp(4.2000rem, calc(3.8143rem + 0.8035vw), 5.1000rem); /* +20% */
    }
}

@media (min-width: 2560px) {
    :root {
        --icon-sm: clamp(1.4580rem, calc(1.3955rem + 0.1301vw), 1.6038rem); /* +8% */
        --icon-md: clamp(2.1952rem, calc(2.0608rem + 0.2800vw), 2.5088rem); /* +12% */
        --icon-lg: clamp(3.5322rem, calc(3.2438rem + 0.6006vw), 4.2050rem); /* +16% */
        --icon-xl: clamp(5.0400rem, calc(4.5772rem + 0.9642vw), 6.1200rem); /* +20% */
    }
}