
.item-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18vmin, 1fr));
  gap: 2vmin;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-content: start;
}

.card-item {
  border-radius: 4vmin;
  padding: 1vmin;
  height: min-content;
  aspect-ratio: 4/6;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: 1s ease;
  opacity: 1;
  border: 1px solid var(--dark);
  margin: 0;
}

.card-item a {
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 3vmin;
  gap: 1vmin;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  transition: all 450ms ease-in-out;
}

.card-item .card-avatar {
  position: relative;
  border: var(--dark) 1px solid;
  width: 100%;
  border-radius: 3vmin;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.card-item .card-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-item .name {
  display: flex;
  padding: 1vmin;
  border-radius: 3vmin;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--light);
  overflow: hidden;
  background: var(--dark);
}

.card-item .name p {
  margin: 0;
  width: 100%;
  text-decoration: none;
}

.rarity-5.card-item .card-avatar {
  background-color: var(--geo);
}

.rarity-4.card-item .card-avatar {
  background-color: var(--electro);
}
