/*
    Modal content and modal filters
*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    z-index: 1000;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.drop {
    z-index: 1100;
}
.modal-content {
    width: 90%;
    max-width: 800px;
    max-height: 80%;
    height: auto;
    outline: 5px solid var(--billberry);
    outline-offset: 5px;
}

.scrollable-y {
    overflow-y: scroll;
}

/*
    Modal Drops
*/


