:root {
  --pineberry: #d2d3d2;
  --billberry: #191a1a;
  --pyro: #D59880;
  --hydro: #80a0d5; 
  --anemo: #a0d5b5; 
  --electro: #c5a0d5; 
  --dendro: #b5d580; 
  --cryo: #a0d5d5; 
  --geo: #d5b580;
  --star5: #f4bb60;
  --star4: #9b60f4;
  --star51: #daa520;
  --cherry:#d86072;
  --lime:#d6dc82;
  --blueberry: #8da5bb;

  --pineberry_oparity: rgba(210, 211, 210, 0.5); 
  --billberry_oparity: rgba(25, 26, 26, 0.5);
}


:root[data-theme='light'] {
    --border: var(--billberry);
  
  --background: var(--pineberry);
  --background-reverse: var(--billberry);
  --text-color: var(--billberry);
  --text-color-reverse: var(--pineberry);

  --overlay: var(--billberry_oparity)
}

:root[data-theme='dark'] {
    --border: var(--pineberry);
  --background: var(--billberry);
  --background-reverse: var(--pineberry);
  --text-color: var(--pineberry);

  --overlay: var(--pineberry_oparity);
  
  --pyro: #b45e3c;
  --hydro: #3c68b4;
  --anemo: #58b67e;
  --electro: #9a58b6;
  --dendro: #86b43c;
  --cryo: #58b6b6;
  --geo: #b4883c;
}

/* Примените переменные к элементам */
body {
  background-color: var(--background);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* background color */
.background { background-color: var(--background); }
.background-r { background-color: var(--background-reverse); }
.bg {background-color: var(--background);}
.bg-bl {background-color: var(--billberry);}
.background-bill {background-color: var(--billberry);}
.bg-p {background-color: var(--pineberry);}
.bg-r {background-color: var(--background-reverse);}
/* color */
.color-r { color: var(--text-color-reverse);}
.color-pine { color: var(--pineberry)}
.c {color: var(--text-color)}
.c-r {color: var(--text-color-reverse);}
.c-p {color: var(--pineberry);}
.c-bl {color: var(--billberry);}

.b {border: var(--border) 1px solid;}